.DS_Store
a.out
*~
bin/*
DTarray_pro.xcodeproj/*
obj/*
helpFile.pdf
include/config.hpp

#stuff from testing folder
testing/bin/*

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
*.pdf
*.png

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

testing/.spyproject/*
testing/data/DTarray_long.tsv
testing/data/DTarray_pro.tsv
testing/data/atomCountTable.txt
testing/data/dtarray_pro_flist.txt
testing/data/interaction_file.txt
testing/data/loc_summary.tsv
testing/data/loc_summary_long.tsv
testing/data/peptideList.tsv
testing/data/peptideList_long.tsv
testing/data/prey_file.txt
testing/temp/*
testing/log/*

#pbs e and o files
*pbs.e[0-9]*
*pbs.o[0-9]*
