.DS_Store
a.out
*~
bin/*
DTarray_pro.xcodeproj/*
obj/*
helpFile.pdf
include/config.hpp

#stuff from testing folder
testing/bin/*
testing/.spyproject/*
testing/data/DTarray_long.tsv
testing/data/DTarray_pro.tsv
testing/data/interaction_file.txt
testing/data/loc_summary.tsv
testing/data/loc_summary_long.tsv
testing/data/peptideList.tsv
testing/data/peptideList_long.tsv
testing/data/prey_file.txt
